/* 1024px width */
@media only screen and (max-width: 1024px) {

  #sm-info-img, #supermom {
    max-height: 65%;
  }

  #banner {
    height: 312px;
  }

  #banner-div {
    grid-gap: 16px;
    grid-template-columns: 40% 10% 50%;
  }

  #supermom {
    position: relative;
    left: -32px;
  }

  #banner p {
    padding-right: 2em;
  }

  #contact-img {
    max-width: 18em;
  }

  main {
    max-width: 50em;
  }

  #contact {
    margin-top: 3em;
  }

}

/* 860px width */
@media only screen and (max-width: 860px) {
  html {
    overflow-x: hidden;
  }
  #sm-info-img {
    margin-left: 2em;
  }
  #sm-info-img, #supermom {
    max-height: 60%;
  }
  #supermom {
    left: -40px;
  }
  #contact-img {
    max-width: 15em;
  }

  #banner p {
    font-size: 16px;
  }

  #test {
    height: 200px;
  }

  #contact {
    margin-top: 4em;
  }

  #footer-div {
    grid-gap: 0;
  }

  #footer-div p:first-child {
    margin-left: 2em;
  }

  #footer-div p:last-child {
    margin-left: 0;
    margin-right: 3em;
  }
}

/* 768px width */
@media only screen and (max-width: 768px) {
  #contact {
    margin-top: 5em;
  }

  #contact-img {
    display: none;
  }

  #footer-div p:last-child {
    margin-left: -64px;
    margin-right: 6em;
  }
}


/* 512px width */


/* 411px width */
@media only screen and (max-width: 411px) {
  #logo {
    margin: 2em 1em;
    width: 32px;
  }

  nav {
    margin: 3em .5em 3em 0;
    font-size: 13px;
  }
  header {
    max-width: 100%;
  }

  #header-div {
    max-width: 100%;
    display: grid;
    grid-template-columns: .5fr 3.5fr;
  }

  #logo {
    margin: 2em 1em;
    width: 2em;
  }

  nav ul li {
    padding: .5em;
  }

  #banner {
    height: auto;
  }

  #banner-div {
    display: block;
    height: 476px;
  }

  #sm-info-img, #supermom {
    max-height: 10em;
    margin-bottom: 0;
    margin-top: 1.5em;
  }
  
  #supermom {
    left: 0;
  }

  #banner p {
    padding-right: 0;
    margin: 0 1em 0 2em;
    position: relative;
    top: 16px;
  }

  #learn-more {
    background: #1E3D7A;
  }

  #contact-section {
    grid-gap: 0px;
  }

  #your-name input {
    display: block;
  }

  #LName {
    margin-top: 1em;
  }

  #FName, #LName, #Email, #Message {
    width: 316px;
  }

  #contact {
    margin-top: 2em;
  }

  #contact-img {
    display: none;
  }

  #send-button {
    width: 344px;
  }

  #test {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 640px;
  }

  #footer-div {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr .25fr 1fr;
    grid-gap: 0px;
    max-width: 100%;
  }

  #footer-div p {
    margin-left: 2em;
  }

  #footer-div p:last-child {
    margin-left: 2em;
    margin-right: 0;
  }

  #cleaning-imgs {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    height: auto;
  }


  #about-h2 {
    text-align: left;
  }

  .cleaning-img {
    display: none;
  }

  .cleaning-img:first-child {
    display: block;
    width: 100%;
  }

  #apply-button {
    margin-top: -32px;
  }
  
}